{% extends 'landing_page/base.html' %}
{% load static %}
{% block title %} Progbook Community {% endblock %}
{% block main %}
<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <div class="container position-relative" >
        <div class="row"  >
          <div class="col-lg-6 d-flex order-1 justify-content-center" data-aos="fade-right" data-aos-delay="400">
            <img src="{% static 'img/hero.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="d-flex col-lg-6 flex-column order-2 p-5 vh-50" data-aos="fade-left" data-aos-delay="400"  >
            <h3 class="text-light p-3 rounded  h-100" style="background-color:rgba(63, 61, 86, 0.4); font-family: 'Consolas', 'Courier New', monospace;">
              <br>
              <span style="color:coral;" >progbook&gt; </span>cd progbook.app
              <br><br>
              <span style="color:coral;" >progbook&gt; </span> ls ./tools
              <br><br>
              <span style="color:coral;" >progbook&gt; </span> ls ./courses
              <br><br>
              <span style="color:coral;" >progbook&gt; </span> ls ./blogs
              <br><br>
              <span style="color:coral;" >progbook&gt; </span> <span class="blink" style="color:coral;" > _</span>
              <br><br>
            </h3>
          </div>
        </div>
      </div>

      <div class="icon-boxes position-relative" data-aos="fade-up" data-aos-delay="600">
        <div class="container position-relative">
          <div class="row gy-4 mt-5">

            <div class="col-xl-4 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-person"></i></div>
                <a href="{% url 'service' name='profile_builder' %}" class="stretched-link">
                <h4>Profile Builder</h4>
              </a>
              </div>
            </div><!--End Icon Box -->
            <div class="col-xl-4 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-person"></i></div>
                <a href="{% url 'service' name='profile_builder' %}" class="stretched-link">
                <h4>Profile Builder</h4>
              </a>
              </div>
            </div><!--End Icon Box -->
            <div class="col-xl-4 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-person"></i></div>
                <a href="{% url 'service' name='profile_builder' %}" class="stretched-link">
                <h4>Profile Builder</h4>
              </a>
              </div>
            </div><!--End Icon Box -->
            <div class="col-xl-3 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-person"></i></div>
                <a href="{% url 'service' name='profile_builder' %}" class="stretched-link">
                <h4>Profile Builder</h4>
              </a>
              </div>
            </div><!--End Icon Box -->
            <div class="col-xl-3 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-person"></i></div>
                <a href="{% url 'service' name='profile_builder' %}" class="stretched-link">
                <h4>Profile Builder</h4>
              </a>
              </div>
            </div><!--End Icon Box -->
            <div class="col-xl-3 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-person"></i></div>
                <a href="{% url 'service' name='profile_builder' %}" class="stretched-link">
                <h4>Profile Builder</h4>
              </a>
              </div>
            </div><!--End Icon Box -->
            <div class="col-xl-3 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-person"></i></div>
                <a href="{% url 'service' name='profile_builder' %}" class="stretched-link">
                <h4>Profile Builder</h4>
              </a>
              </div>
            </div><!--End Icon Box -->
            <div class="col-xl-4 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-person"></i></div>
                <a href="{% url 'service' name='profile_builder' %}" class="stretched-link">
                <h4>Profile Builder</h4>
              </a>
              </div>
            </div><!--End Icon Box -->
            <div class="col-xl-4 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-person"></i></div>
                <a href="{% url 'service' name='profile_builder' %}" class="stretched-link">
                <h4>Profile Builder</h4>
              </a>
              </div>
            </div><!--End Icon Box -->
            <div class="col-xl-4 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-person"></i></div>
                <a href="{% url 'service' name='profile_builder' %}" class="stretched-link">
                <h4>Profile Builder</h4>
              </a>
              </div>
            </div><!--End Icon Box -->

          </div>
        </div>
      </div>


    </section><!-- /Hero Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <div><span>Need Help?</span> <span class="description-title">Contact Us</span></div>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>Rafidia Street, Nablus, Palestine</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+970 568 805 065</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>mohammad2001saide@gmail.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>
{% endblock main %}
