.active_con{
    background-color:#10b89c99 !important;
    border:solid 1px #19756d !important;
}

.con_type:hover{
    background-color:#10b89c99 !important;
    cursor: pointer !important;
}

.active_con:hover{
        cursor: pointer !important;
}