.form-link:hover
{
color: #008374 !important;
}

.custom-submit-button:hover
{
    background-color: #6ca7a3 !important;
}

label
{
    color: brown !important;
}

label::after
{
    content: ' *';
    color: #008374;
}

  .input-group {
    display: flex;
  }

#show_btn
{
    background-color:#008374;
    color:white;
    border:#008374 solid 1px;
}

#show_btn:hover
{
    
    background-color:#94CFCB;
    border:#94CFCB solid 1px;
    
}






