{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <!-- meta data -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="CLS is created for making the learning process of both student and instructor smoothly and has a rich experience, preparing a strong and reliable technical infrastructure for Palestinian universities and breaking barriers imposed on the educational sector." name="description">
  <meta content="learning , elearning , education system" name="keywords">

  <!-- logo & title  -->

  <link href="{% static '/img/logo1.jpg' %}" rel="icon">
  <title>Compatible Learning System - CLS</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amiri&family=Changa&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- CSS Files -->
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> <!-- bootstrap css file -->
  <link href="{% static '/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet"> <!-- bootstrap icons css file -->
  <link href="{% static '/vendor/aos/aos.css' %}" rel="stylesheet"> <!-- Animate on scroll library -->
  <link href="{% static '/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet"> <!-- to animate images and videos -->
  <link href="{% static '/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">  <!-- to handle slider movement -->
  <link href="{% static '/css/main.css' %}" rel="stylesheet"> <!-- custom css file -->


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.php" class="logo d-flex align-items-center">

        <img src="assets/img/logo.jpg" alt="logo">
        <h1>CLS<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#pricing">Pricing</a></li>

          <li class="dropdown"><a href="#"><span>More</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#contact">Contact</a></li>
              <li><a href="#team">Team</a></li>
              <li><a href="#faq">FAQ</a></li>
              <li><a href="#testimonials">FEEDBACK</a></li>
              <li><a href="#clients">Trusted by</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header>

  {% block content %} {% endblock content %}

  <!-- ======= Footer Section ======= -->
  <footer id="footer" class="footer">

          <div class="container">
            <div class="row gy-4">
              <div class="col-lg-5 col-md-12 footer-info">
                <a href="index.html" class="logo d-flex align-items-center">
                  <span>CLS</span>
                </a>
                <p>It's a set of services which help students and instructors and university owners to have a smooth experience with the learning process.</p>
                <div class="social-links d-flex mt-4">
                    <a href="https://twitter.com/CLS_LLC_" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100090730721210" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/cls.llc.company/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/compatible-learning-system/?viewAsMember=true"  target="_blank"  class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>


              <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                  <strong>Phone:</strong> +972 568 050 65 <br>
                  <strong>Email:</strong> support@clsonline.org<br>
                </p>

              </div>

              <div class="col-lg-4 col-md-12 footer-contact text-center text-md-start">


                <div class="copyright">
                  &copy; Copyright <strong><span>CLS</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                </div>

              </div>

            </div>
          </div>

  </footer>

  <!-- ======= Arrow Up Icon Section ======= -->
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- ======= Preloader Section ======= -->
  <div id="preloader"></div>

  <!-- ======= JS Files Section ======= -->
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/vendor/aos/aos.js' %}"></script>
  <script src="{% static '/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static '/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static '/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="https://kit.fontawesome.com/0132ea282b.js" crossorigin="anonymous"></script>
  <script src="{% static '/js/main.js' %}"></script>
  <script src="{% static '/js/custom_main.js' %}"></script>
  <script src="{% static '/js/mailing.js' %}"></script>


</body>

</html>